<h1>Sector <%= params[:sector_number] %></h1>

<ul>
  <p>
	  <a href = "localhost:4567/sector/1111"> sector 1111 </a>
	</p>

  <p>
	  <a href = "localhost:4567/sector/3401"> sector 3401 </a>
	</p>

</ul>