<html>
  <head>
    <style type="text/css" media="screen">
      ul {
         width:      100%;
         text-align: center;
         padding:    0;
         margin:     0;
         }
      ul li {
            width:           100%;
            text-align:      center;
            list-style-type: none;
            padding:         0;
            margin:          0;
            }
      h2 { margin-bottom: 15px }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>