<h1>Sector <%= params[:number] %></h1>

<ul>
	<% %w[Luke James].each do |name| %>
	  <li><%= name %></li>
	<% end %>

  <p>
	  <a href = "localhost:4567/sector/1111"> sector 1111 </a>
	</p>

  <p>
	  <a href = "localhost:4567/sector/3401"> sector 3401 </a>
	</p>

</ul>