<h1>Sector <%= sector %></h1>

<h2>From this sector you may travel to:</h2>

<ul>
  <% neighbors.each do |number| %>
    <li>
      Sector -
      <a href="/sector/<%= number %>">
        <%= number %>
      </a>
    </li>
  <% end %>
</ul>
