<h1>Sector <%= locals[:sector] %></h1>

<h2><%= neighbors %> </h2>

<ul>
	<p>
		<center>
			From this sector you may travel to: <br><br>
		  <% neighbors.each do |number| %>
		    <p>
		      <a href="/sector/<%= number %>">
				    Sector <%= number %>
				  </a>
				</p>
		  <% end %>	
		</center>
	</p>	
</ul>

