<h1>Sector <%= params[:sector_number] %></h1>

<ul>
	<% %w[Luke James].each do |name| %>
	  <li><%= name %></li>
	<% end %>

  <%= erb :sector_number %>

  <!-- <p>
	  <a href = "localhost:4567/sector/1111"> Sector 1111 </a>
	</p>

  <p>
	  <a href = "localhost:4567/sector/3401"> Sector 3401 </a>
	</p> -->

</ul>