<h1>Sector <%= sector %></h1>

<h2>From this sector you may travel to:</h2>

<ul>
  <% neighbors.each do |number| %>
  <li>
    <h3>
      Sector -
      <a href="/sector/<%= number %>">
      <%= number %>
      </a>
    </h3>
  </li>
<% end %>		
</ul>